@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap);

html {
    scroll-behavior: smooth;
    font-family: 'Fira Code', monospace;
}

body {
    background-color: #202731;
    color: #ffffff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

section {
    position: relative;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 0 20vw;
}

nav {
    position: -webkit-fixed;
    position: fixed;
    width: 100%;
    z-index: 3;
}

input[type="checkbox"] {
    display: none;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.mobile-burger-menu {
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.nav-flex-item {
    float: left;
}

.nav-flex-item a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 1rem 1rem;
}

.nav-flex-item a:after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #000000;
    transition: width .3s;
}

.nav-flex-item a:hover:after {
    width: 100%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

#projects {
    background-color: #3c31dd;
}

#my-projects {
    padding: 1rem;
    border-radius: 1em;
}

#skills {
    background-color: #00caca;
    padding: 0 10dvw;
}

#introduction {
    background-color: #ee6e3d;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: 200%;
}

#introduction-content {
    z-index: 1;
}

.links {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.links svg {
    height: 2.5rem;
    width: 2.5rem;
}

.links span {
    font-size: 1.5rem;
}

.links a:hover {
    font-weight: bold;
    text-decoration-line: underline;
    transform: scale(1.2);
}

.links a {
    transition: 250ms ease-in-out;
    transform: scale(1);
}

.hard-skills {
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}


#hard-skills-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style-type: none;
    gap: 3rem;
    padding: 0;
    align-items: space-evenly;
}

#hard-skills-list li img {
    height: 6rem;
    width: 5.5rem;
    padding: 0.5rem;
    transition: transform 350ms ease-in-out;
    transform: scale(1);
}

#hard-skills-list img:hover {
    transform: scale(1.5) rotate(360deg);
}

footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 0.5rem;
}

footer a {
    color: #000;
}

footer a:hover {
    font-weight: bold;
    text-decoration-line: underline;
}

#description {
    color: #202731;
}

.social-media-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 580px) {
    section {
        padding: 0 15dvw;
    }

    nav {
        width: -moz-fit-content;
        width: fit-content;
        right: 0;
        inset: 0 0 0 30%;
        padding: min(30dvh, 10rem) 3rem;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: transform 300ms ease-in-out;
    }

    nav {
        transform: translateX(100%);
    }

    input[type="checkbox"]:checked ~ nav {
        transform: translateX(0);
    }

    nav ul {
        display: flex;
        flex-wrap:  wrap;
    }

    .links {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .nav-flex-item {
        flex-basis: 100%;
    }

    .nav-flex-item:last-child {
        text-align: center;
    }

    #hard-skills-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .burger-menu-label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 3rem;
        width: 3rem;
        z-index: 4;
        background-color: #fff;
        border-radius: 50%;
        border: 0;
        padding: 0;
        margin: 0.5rem;
    }

    .burger-menu-span, .burger-menu-span::after, .burger-menu-span::before {
        display: block;
        height: 2px;
        width: 1.5rem;
        background-color: #000;
        transition: transform 300ms ease-in-out;
    }

    .burger-menu-span::after, .burger-menu-span::before {
        content: '';
        position: absolute;
    }

    .burger-menu-span::after {
        transform: translateY(0.5rem);
    }

    .burger-menu-span::before {
        transform: translateY(-0.5rem);
    }

    input[type="checkbox"]:checked ~ label span::after {
        transform: translateY(0) rotate(45deg);
    }

    input[type="checkbox"]:checked ~ label span::before {
        transform: translateY(0) rotate(-45deg);
    }

    input[type="checkbox"]:checked ~ label span {
        background-color: transparent;
    }
 
    #hard-skills-list {
        grid-template-columns: 1fr 1fr !important; 
        gap: 1rem; 
    }

    #hard-skills-list li img {
        height: 5rem !important;
        width: 4.5rem !important;
    }
}

@media (max-width: 460px) {
    section {
        padding: 5dvw;
    }
}

@media (max-width: 425px) {
    .links span {
        display: none; 
    }
     
    .links svg {
        height: 4rem;
        width: 4rem;
    }
    
    .links {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (prefers-reduced-motion: reduce) {
    .hidden {
        transition: none;
    }

    #hard-skills-list img:hover {
        transform: scale(1.5);
    }
}

@media (max-width: 1200px) {

    .hard-skills li img {
        height: 5rem;
        width: 4.5rem;
    }

    #hard-skills-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2.25rem; 
    }

    .links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center; 
    }
}
