@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    scroll-behavior: smooth;
}

body {
    @apply bg-primary text-white;
}

section {
    @apply min-h-screen flex flex-col justify-center items-center px-4;
}

::selection {
    @apply bg-black text-white;
}

.nav-flex-item a {
    @apply text-black text-xl font-semibold;
}

.nav-flex-item a:after {
    @apply block h-0.5 w-0 bg-black transition-all content-[''] duration-300;
}

.nav-flex-item a:hover:after {
    @apply w-full;
}

@media (max-height: 575px) {
    .indicator {
        display: none;
    }
}

.indicator {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
}

.indicator span {
    user-select: none; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    animation: animate 1s linear infinite;
}

.indicator span:nth-child(1) {
    top: -15px;
    left: -15px;
    animation-delay: 0s;
}

.indicator span:nth-child(2) {
    top: 0;
    left: 0;
    animation-delay: 0.2s;
}

.indicator span:nth-child(3) {
    top: 15px;
    left: 15px;
    animation-delay: 0.4s;
}

.indicator span:nth-child(4) {
    top: 30px;
    left: 30px;
    animation-delay: 0.6s;
}

@keyframes animate {
    0% {
        border-color: #fff;
        transform: translate(0, 0);
    }
    20% {
        border-color: #fff;
        transform: translate(15px, 15px);
    }
    20.1%,
    100% {
        @apply border-primary;
    }
}

a {
    @apply text-white;
}

.hidden-transition {
    @apply opacity-0 -translate-x-4 blur-sm transition-all duration-1000;
}

.show {
    @apply opacity-100 translate-x-0 blur-0;
}

@media (prefers-reduced-motion: reduce) {
    .hidden-transition {
        transition: none;
    } 
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(0);
}

.burger-menu-label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 3rem;
    width: 3rem;
    z-index: 4;
    background-color: #fff;
    border-radius: 50%;
    border: 0;
    margin: 0.5rem;
}

.burger-menu-span, .burger-menu-span::after, .burger-menu-span::before {
    display: block;
    height: 2px;
    width: 1.5rem;
    background-color: #000;
    transition: transform 300ms ease-in-out;
}

.burger-menu-span::after, .burger-menu-span::before {
    content: '';
    position: absolute;
}

.burger-menu-span::after {
    transform: translateY(0.5rem);
}

.burger-menu-span::before {
    transform: translateY(-0.5rem);
}

input[type="checkbox"]:checked ~ label span::after {
    transform: translateY(0) rotate(45deg);
}

input[type="checkbox"]:checked ~ label span::before {
    transform: translateY(0) rotate(-45deg);
}

input[type="checkbox"]:checked ~ label span {
    background-color: transparent;
} 

/**
 * Custom shape dividers
 * https://www.shapedivider.app/
 */
.custom-shape-divider-bottom-1696312862 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696312862 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1696313366 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696313366 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1696313976 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696313976 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1696313608 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1696313608 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}
